<!-- Launches basic godot nodes with joystick control -->
<launch>
 <param name="robot_description" command="cat $(find godot)/godot.urdf" />

  <node pkg="tf" type="static_transform_publisher" name="tf_top_plate" args="0 0 0.15 0 0 0 1 base_link top_plate 100" />
  <node pkg="tf" type="static_transform_publisher" name="tf_left_wheel" args="0 -0.15 -0.15 0 0 0 1 base_link left_wheel 100" />
  <node pkg="tf" type="static_transform_publisher" name="tf_right_wheel" args="0 0.15 -0.15 0 0 0 1 base_link right_wheel 100" />

  <node pkg="rflex" type="magellan" name="magellan_pro" output="screen" args="magellan_pro/cmd_vel:=/cmd_vel magellan_pro/odom:=/odom"/>
	<include file="$(find godot_joystick)/godot_joystick.launch" />

</launch>
